* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main{
  padding:36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 250%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 12px;
  font-weight: 500;
}

.form{
  display:flex;
  grid-template:40px 40px/ 1fr 1fr;
  align-items: center; 
  justify-content: center; 

}



.form--input{
  font-family: "karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  margin-left: 10px;
  text-indent: 5px;
  height:32px;
  width:400px;
}

.form--button {
  grid-column : 1/ -1;
  font-family: "karla", sans-serif;
  font-size:medium;
  background: linear-gradient(90deg, #9c42bd 1.18%, #970acb 100%);
  margin-top: 60px;
  top:130px;
  border-radius:5px;
  height:40px;
  width:250px;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items:center;
  position:absolute;
  align-items: center;
  color:white;
  border:none;
  cursor:pointer;
}

.img-width {
  width: 40px; 
}

.form--output-container {
  display: flex;
  top:68px;
  margin-top: 20px;
  height:300px;
  position:relative;
}

.form--output-text {
  flex-grow: 6.5;
  margin-top: 10px;
  background-color: rgba(83, 83, 54, 0.278);
  border-radius: 20px;
  line-height:1.1;
  font-size: 13px;
  padding: 15px;
}

.form--output-image {
  flex-grow: 3.5;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 10px;
  background-color: rgba(1, 1, 1, 0.578);
  border-radius: 20px;
  font-size: 15px;
  padding: 15px;
}


.Dream--storage{
  margin-top:90px;
}

.form--output-image img {
  max-width: 100%;
  height: auto;
  margin:auto;
  border-radius: 10px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #A626D3;
  color:white;
  width:200px;
}

tr:nth-child(even) {
  background-color: linear-gradient(90deg, #cc94e1 1.18%, #ae5acd 100%);
}
